<%# Edit an event.
views/events/edit.html.erb
you will have access to the @event instance variable %>

<h1>Editing: <%= link_to @event.name, event_path(@event) %></h1>

<%= render 'event_form', event: @event %>
